
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; 
}


.izq-img {
    position: fixed;
    bottom: 0;
    left: 45%; 
    transform: translateX(-87%); 
    width: 900px; 
    height: auto; 
  }
  
 
  .der-img {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 900px; 
    height: auto; 
  }
  